.text-cell {
  margin-top: 7px;
}
.nav-link {
  outline:none;
}
.table-striped {
  margin-bottom: 0;
}
.modal-xlg {
  width: 1000px;
}
.modal-calendar {
  width: 340px;
}
.form-error {
  color: #ff0000;
}
.form-error-sign {
  color: #ff0000;
  position: absolute;
  top: 9px;
  right: 25px;
}
.filter-box {
  display: inline-block;
  margin-right: 20px;
}
.state-date {
  color: blue;
  cursor: pointer;
}
.state-date-calendar-container {
  margin-bottom: -20px;
}
.attribute-validity-period {
  font-size: 75%;
}
.attributes-panel {
  display: table;
  width: 100%;
}
.attributes-table-panel {
  display: table-cell;
}
.attribute-form-panel {
  display: table-cell;
  width: 300px;
  padding: 15px;
  border-left: 1px solid #e5e5e5;
}
.alerts-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 33%;
  padding: 10px;
  opacity: 0.99;
  margin: auto;
}
.table-unit-labels > tbody > tr > td:first-child, .table-unit-labels > thead > tr > th:first-child {
  text-align: center;
}
.create-root-unit {
  cursor: pointer;
}
label.mandatory {
  color: #ff0000;
}
div.hierarchy-container > app-hierarchy > div {
  padding-left: 0;
}
div.hierarchy-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-text {
  padding-top: 7px;
}
.form-group-unauthenticated {
  border-bottom: 1px dotted #ddd;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.form-group-unauthenticated:last-child {
  border-bottom: 0;
}
.changelogattachment-cell {
  cursor: pointer;
  color: blue;
}
.accumulated-changes-box {
  float: left;
  font-size: 90%;
  margin-top: 7px;
}
.selected-element-box {
  margin: 5px 0;
  background: #f0f0f0;
  padding: 7px 10px;
  border-radius: 2px;
  position: relative;
}
.search-selected-element-box {
  margin: 0;
  background: #ffffff;
  padding: 7px 10px;
  border-radius: 2px;
  position: relative;
}
.search-result-box {
  height: 400px;
  overflow-y: auto;
  margin: 5px 0 0;
}
.search-result-box-error {
  color: #ff0000;
  font-weight: bold;
}



/* form styles */
input.ng-invalid.ng-dirty {
  border: 2px red solid;
}
.modal-second {
  margin-top: 200px;
}
.modal-content-second {
  height: 500px;
}


/* override primeNG styles */
.ui-autocomplete {
  width: 100%;
}
.ui-inputtext {
  width: 100%;
}



@media screen and (max-width: 1024px) {
  .modal-xlg {
    width: 96%;
  }
}

@media screen and (max-width: 420px) {
  .modal-calendar {
    width: 96%;
  }
}