<form (ngSubmit)="checkUnit(unitForm.value)" [formGroup]="unitForm" (keydown.enter)="$event.preventDefault()">
  <div bsModal #updateUnitModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-update-unit" (onHide)="onHide()" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" *ngIf="showView">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 *ngIf="mode == 'UPDATE'" class="modal-title">{{ selectedUnit.sigle }} {{ selectedUnit.label }}</h4>
          <h4 *ngIf="mode == 'CREATE_CHILD'" class="modal-title">Nouvelle unité rattachée pour <i>{{ parentUnit.label }}</i></h4>
          <h4 *ngIf="mode == 'CREATE_ROOT'" class="modal-title">Nouvelle unité raçine</h4>
          <h4 *ngIf="mode == 'CLONE'" class="modal-title">Cloner une unité</h4>
          <h4 *ngIf="mode == 'EDIT_UNIT_PLANNED'" class="modal-title">Modifications anticipée pour {{ selectedUnitPlanned.sigle }} {{ selectedUnitPlanned.label }}</h4>
          <h4 *ngIf="mode == 'EDIT_UNIT_MODEL'" class="modal-title">Modèle pour <i>{{ fromUnit.sigle }} - {{ fromUnit.label }}</i></h4>
        </div>
        <div class="modal-body">
          <div *ngIf="errors.length > 0" class="errors-bar">
            <div *ngFor="let error of errors;let i = index">
              {{ error?.msg }}
            </div>
          </div>
          <div class="form-horizontal" *ngIf="mode == 'EDIT_UNIT_PLANNED'">
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">Appliquer le *</label>
              <div class="col-sm-3">
                <input class="form-control" formControlName="applyAt" maxlength="10" date-input />
              </div>
            </div>
          </div>
          <tabset>
            <tab heading="Données de base">
              <div class="form-horizontal" style="margin-top: 10px;">
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Libellé *</label>
                  <div class="col-sm-10">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="label" id="input-label" />
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ selectedUnit.label }}
                    </p>
                  </div>
                </div>
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Sigle *</label>
                  <div class="col-sm-4">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="sigle" style="text-transform: uppercase;" id="input-sigle" sigle-input />
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ selectedUnit.sigle }}
                    </p>
                  </div>
                  <label for="" class="col-sm-2 control-label">Abrégé *</label>
                  <div class="col-sm-4">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="labelShort" id="input-labelShort" />
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ selectedUnit.labelShort }}
                    </p>
                  </div>
                </div>
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Type</label>
                  <div class="col-sm-4">
                    <select *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" class="form-control" formControlName="type" id="input-type">
                      <option *ngFor="let unitType of unitTypesList" value="{{ unitType.code }}">{{ unitType.label }}</option>
                    </select>
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ selectedUnitTypeString }}
                    </p>
                  </div>
                  <label for="" class="col-sm-2 control-label">Langue</label>
                  <div class="col-sm-4">
                    <select *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" class="form-control" formControlName="lang">
                      <option *ngFor="let lang of languagesList" value="{{ lang.code }}">{{ lang.label }}</option>
                    </select>
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ selectedUnitLangString }}
                    </p>
                  </div>
                </div>
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Numéro</label>
                  <div class="col-sm-4">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo) && mode != 'UPDATE' && mode != 'EDIT_UNIT_PLANNED'" type="text" class="form-control" formControlName="cfNumber" />
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo) || mode == 'UPDATE' || mode == 'EDIT_UNIT_PLANNED'" class="form-text">
                        {{ selectedUnit.cfNumber }}
                    </p>
                  </div>
                  <label for="" class="col-sm-2 control-label">CF</label>
                  <div class="col-sm-4">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo) && mode != 'UPDATE' && mode != 'EDIT_UNIT_PLANNED'" type="text" class="form-control" formControlName="cf" (keyup)="setCfNumber()" id="input-cf" number-input />
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo) || mode == 'UPDATE' || mode == 'EDIT_UNIT_PLANNED'" class="form-text">
                        {{ selectedUnit.cf }}
                    </p>
                  </div>
                </div>
                <div class="form-group" style="position: relative;" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Existe du *</label>
                  <div class="col-sm-4">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" class="form-control" formControlName="from" maxlength="10" id="input-from" date-input />
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ selectedUnitFromString }}
                    </p>
                  </div>
                  <label for="" class="col-sm-2 control-label">au</label>
                  <div class="col-sm-4">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" class="form-control" formControlName="to" maxlength="10" date-input />
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ selectedUnitToString }}
                    </p>
                  </div>
                </div>
                <div *ngIf="mode != 'EDIT_UNIT_MODEL'" class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Unité mère</label>
                  <div class="col-sm-10">
                    <div *ngIf="selectedParentUnit != null && selectedParentUnit.sigle != ''" class="selected-element-box">
                      {{ selectedParentUnit.sigle }} ({{ selectedParentUnit.label }})
                    </div>
                    <div  style="position: relative;">
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="parentUnitSearchText" placeholder="Rechercher par sigle, libellé, CF..." (keyup.enter)="searchParentUnit()" />
                      <div *ngIf="searchParentUnitIsOngoing" style="position: absolute; top: 6px; right: 30px;">
                        <img src="/assets/img/spinner.gif" />
                      </div>
                      <div style="position: absolute; top: 6px; right: 10px;" class="cursor-pointer" (click)="searchParentUnit()">
                        <img src="/assets/icon/ic_search_black_18dp_1x.png" />   
                      </div>
                    </div>
                    <div *ngIf="searchParentUnitErrorMessage != null" class="search-result-box-error">
                      {{ searchParentUnitErrorMessage }}
                    </div>
                  </div>
                </div>
                <div class="form-group" *ngIf="mode != 'EDIT_UNIT_MODEL' && mode != 'EDIT_UNIT_PLANNED' && unitHierarchy != null" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Hiérarchie</label>
                  <div class="col-sm-10 hierarchy-container">
                    <app-hierarchy [unit]="unitHierarchy" [isRoot]="true"></app-hierarchy>
                  </div>
                </div>
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Responsable</label>
                  <div class="col-sm-10">
                    <div *ngIf="selectedResponsible != null" class="selected-element-box">
                      {{ selectedResponsible.displaynameLong }} ({{ selectedResponsible.id }})
                      <a target="_blank" href="http://people.epfl.ch/{{ selectedResponsible.id }}">
                        <span class="glyphicon glyphicon-new-window" style="font-size: 65%;" title="Ouvrir sur people"></span>
                      </a>
                      <div *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" style="position: absolute; top: 8px; right: 10px;">
                        <span class="glyphicon glyphicon-remove icon-red cursor-pointer" title="Supprimer le responsable" (click)="clearResponsible()" id="btn-clear-responsible"></span>   
                      </div>
                    </div>
                    <div  style="position: relative;">
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="responsibleSearchText" placeholder="Rechercher par nom, prénom, sciper..." (keyup.enter)="searchResponsible()" id="input-responsible-search" />
                      <div *ngIf="searchResponsibleIsOngoing" style="position: absolute; top: 6px; right: 30px;">
                        <img src="/assets/img/spinner.gif" />
                      </div>
                      <div style="position: absolute; top: 6px; right: 10px;" class="cursor-pointer" (click)="searchResponsible()">
                        <img src="/assets/icon/ic_search_black_18dp_1x.png" />   
                      </div>
                    </div>
                    <div *ngIf="searchReponsibleErrorMessage != null" class="search-result-box-error">
                      {{ searchReponsibleErrorMessage }}
                    </div>
                  </div>
                </div>
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Bureau</label>
                  <div class="col-sm-10">
                    <div *ngIf="selectedRoom != null" class="selected-element-box">
                      {{ selectedRoom.label }}
                      <div *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" style="position: absolute; top: 8px; right: 10px;">
                        <span class="glyphicon glyphicon-remove icon-red cursor-pointer" title="Supprimer le bureau" (click)="clearRoom()" id="btn-clear-room"></span>   
                      </div>
                    </div>
                    <div  style="position: relative;">
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="roomSearchText" placeholder="Rechercher par libellé" (keyup.enter)="searchRoom()" id="input-room-search" />
                      <div *ngIf="searchRoomIsOngoing" style="position: absolute; top: 6px; right: 30px;">
                        <img src="/assets/img/spinner.gif" />   
                      </div>
                      <div style="position: absolute; top: 6px; right: 10px;" class="cursor-pointer" (click)="searchRoom()">
                        <img src="/assets/icon/ic_search_black_18dp_1x.png" />   
                      </div>
                      <div *ngIf="searchRoomErrorMessage != null" class="search-result-box-error">
                        {{ searchRoomErrorMessage }}
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="mode != 'EDIT_UNIT_MODEL' && mode != 'EDIT_UNIT_PLANNED'" class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Adresse</label>
                  <div class="col-sm-10 text-cell" style="margin-top: 10px;">
                    <p [innerHTML]="selectedUnitAddress"></p>
                  </div>
                </div>
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">N° ordre</label>
                  <div class="col-sm-2">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="position" number-input />
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        
                    </p>
                  </div>
                  <label for="" class="col-sm-2 control-label">Dans EPFL</label>
                  <div class="col-sm-2 text-cell">
                    <span *ngIf="selectedUnit.is_epfl == 1" class="glyphicon glyphicon-ok icon-green"></span>
                    <span *ngIf="selectedUnit.is_epfl == 0" class="glyphicon glyphicon-remove icon-red"></span>
                  </div>
                  <label for="" class="col-sm-2 control-label">Temporaire</label>
                  <div class="col-sm-2 text-cell">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="checkbox" formControlName="isTemporary" id="input-isTemporary">
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)">
                        {{ selectedUnitIsTemporaryString }}
                    </p>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Libellés multilingues">
              <table class="table table-striped table-unit-labels">
                <thead>
                  <tr>
                    <th style="width: 80px;">Langue</th>
                    <th>Sigle</th>
                    <th>Libellé</th>
                    <th>Abrégé</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="assets/img/flag_FRA.png" style="width: 40px;" alt="Français" title="Français" /></td>
                    <td>{{ unitForm.get('sigle').value.toUpperCase() }}</td>
                    <td>{{ unitForm.get('label').value }}</td>
                    <td>{{ unitForm.get('labelShort').value }}</td>
                  </tr>
                  <tr>
                    <td><img src="assets/img/flag_ENG.png" style="width: 40px;" alt="Anglais" title="Anglais" /></td>
                    <td>
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="sigleEn" style="text-transform: uppercase;" id="input-sigleEn" sigle-input />
                      <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ labelENG.sigle }}
                      </p>
                    </td>
                    <td>
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="labelEn" id="input-labelEn" />
                      <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ labelENG.label }}
                      </p>
                    </td>
                    <td>
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="labelShortEn" id="input-labelShortEn" />
                      <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ labelENG.labelShort }}
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="assets/img/flag_GER.png" style="width: 40px;" alt="Allemand" title="Allemand" /></td>
                    <td>
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="sigleGe" style="text-transform: uppercase;" sigle-input />
                      <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ labelDEU.sigle }}
                      </p>
                    </td>
                    <td>
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="labelGe" />
                      <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ labelDEU.label }}
                      </p>
                    </td>
                    <td>
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="labelShortGe" />
                      <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ labelDEU.label }}
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td><img src="assets/img/flag_ITA.png" style="width: 40px;" alt="Italien" title="Italien" /></td>
                    <td>
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="sigleIt" style="text-transform: uppercase;" sigle-input />
                      <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ labelITA.sigle }}
                      </p>
                    </td>
                    <td>
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="labelIt" />
                      <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ labelITA.label }}
                      </p>
                    </td>
                    <td>
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="labelShortIt" />
                      <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo)" class="form-text">
                        {{ labelITA.label }}
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <tab heading="Compléments">
              <div class="attributes-panel">
                <div class="attributes-table-panel">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Libellé</th>
                        <th>Valeur</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let attributeType of attributesList">
                        <td>
                          {{ attributeType.label }}
                        </td>
                        <td style="text-align: left;">
                          <div *ngFor="let attributeValue of (selectedUnitAttributes | attributefilter:attributeType.code)" class="box-attribute-value">
                            {{ attributeValue.text }}
                            &nbsp;<span *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" class="glyphicon glyphicon-pencil cursor-pointer btn-update-attribute" title="Modifier" (click)="showAttributeFormPanel('update', attributeValue, null)"></span>
                            <span *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" class="glyphicon glyphicon-remove icon-red cursor-pointer btn-delete-attribute" title="Supprimer" (click)="deleteAttribute(selectedUnit, attributeValue)"></span>
                            <div class="attribute-validity-period">
                              ({{ attributeValue.from | date:"dd.MM.yyyy" }} - {{ attributeValue.to | date:"dd.MM.yyyy" }})
                            </div>
                          </div>
                        </td>
                        <td class="attribute-add-cell">
                          <a *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" class="glyphicon glyphicon-plus icon-green cursor-pointer" title="Créer" (click)="showAttributeFormPanel('add', null, attributeType)" id="btn-create-attribute-{{ attributeType.code }}"></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </tab>
            <tab *ngIf="showAddressTab" heading="Adresse">
              <div class="form-horizontal" style="margin-top: 10px;">
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Adresse 1</label>
                  <div class="col-sm-10">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="address1" id="input-address1" />
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo) && selectedUnit.address" class="form-text">
                      {{ selectedUnit.address.address1 }}
                    </p>
                  </div>
                </div>
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Adresse 2</label>
                  <div class="col-sm-10">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="address2" id="input-address2" />
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo) && selectedUnit.address" class="form-text">
                      {{ selectedUnit.address.address2 }}
                    </p>
                  </div>
                </div>
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Adresse 3</label>
                  <div class="col-sm-10">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="address3" id="input-address3" />
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo) && selectedUnit.address" class="form-text">
                      {{ selectedUnit.address.address3 }}
                    </p>
                  </div>
                </div>
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Adresse 4</label>
                  <div class="col-sm-10">
                    <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="address4" id="input-address4" />
                    <p *ngIf="!authService.hasSuperAdminRole(loggedUserInfo) && selectedUnit.address" class="form-text">
                      {{ selectedUnit.address.address4 }}
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Adresse 5</label>
                  <div class="col-sm-10 form-text" *ngIf="selectedUnit.address && selectedUnit.address.address5 != null">
                    {{ selectedUnit.address.address5 }}
                  </div>
                  <!--div class="col-sm-10 form-text" *ngIf="selectedUnit.address && selectedLocation.zipcode != null">
                    {{ selectedCountry.codeISO }}-{{ selectedLocation.zipcode }} {{ selectedLocation.labelFrench }}
                  </div>
                  <div class="col-sm-10 form-text" *ngIf="selectedUnit.address && selectedLocation.zipcode == null">
                    {{ selectedCountry.codeISO }}
                  </div-->
                </div>
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Localité</label>
                  <div class="col-sm-10">
                    <div *ngIf="selectedLocation != null && selectedLocation.zipcode != null" class="selected-element-box" id="box-selected-location">
                      {{ selectedLocation.zipcode }} {{ selectedLocation.labelFrench }}
                      <div *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" style="position: absolute; top: 8px; right: 10px;">
                        <span class="glyphicon glyphicon-remove icon-red cursor-pointer" title="Supprimer la localité" (click)="clearLocation()"></span>   
                      </div>
                    </div>
                    <div  style="position: relative;">
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="addressLocationText" placeholder="NPA et/ou nom de localité" (keyup.enter)="searchLocation()" id="input-location-search" />
                      <div *ngIf="searchLocationIsOngoing" style="position: absolute; top: 6px; right: 30px;">
                        <img src="/assets/img/spinner.gif" />   
                      </div>
                      <div style="position: absolute; top: 6px; right: 10px;" class="cursor-pointer" (click)="searchLocation()">
                        <img src="/assets/icon/ic_search_black_18dp_1x.png" />   
                      </div>
                    </div>
                    <div *ngIf="searchLocationErrorMessage != null" class="search-result-box-error">
                      {{ searchLocationErrorMessage }}
                    </div>
                  </div>
                </div>
                <div class="form-group" [ngClass]='{ "form-group-unauthenticated": !authService.hasSuperAdminRole(loggedUserInfo) }'>
                  <label for="" class="col-sm-2 control-label">Pays</label>
                  <div class="col-sm-10">
                    <div *ngIf="selectedCountry != null && selectedCountry.codeISO != null" class="selected-element-box" id="box-selected-country">
                      {{ selectedCountry.zipcode }} {{ selectedCountry.labelFrench }}
                      <div *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" style="position: absolute; top: 8px; right: 10px;">
                        <span class="glyphicon glyphicon-remove icon-red cursor-pointer" title="Supprimer le pays" (click)="clearCountry()"></span>   
                      </div>
                    </div>
                    <div  style="position: relative;">
                      <input *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" type="text" class="form-control" formControlName="addressCountryText" placeholder="code ISO ou nom de pays" (keyup.enter)="searchCountry()" id="input-country-search" />
                      <div *ngIf="searchCountrIsOngoing" style="position: absolute; top: 6px; right: 30px;">
                        <img src="/assets/img/spinner.gif" />   
                      </div>
                      <div style="position: absolute; top: 6px; right: 10px;" class="cursor-pointer" (click)="searchCountry()">
                        <img src="/assets/icon/ic_search_black_18dp_1x.png" />   
                      </div>
                    </div>
                    <div *ngIf="searchCountryErrorMessage != null" class="search-result-box-error">
                      {{ searchCountryErrorMessage }}
                    </div>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Historique" *ngIf="mode == 'UPDATE'" id="tab-history">
              <form>
                <table class="table table-striped" style="font-size: 85%;">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Modifié le</th>
                      <th>Par</th>
                      <th>Opération</th>
                      <th>Type de champ</th>
                      <th>Nom de champ</th>
                      <th>Ancienne valeur</th>
                      <th>Nouvelle valeur</th>
                      <th>Documentation</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let changeLog of changeLogs">
                    <tr class="tr-history-row">
                      <td>
                        <input type="checkbox" value="1" id="changeLogSelect_{{ changeLog.id }}" />
                      </td>
                      <td (click)="selectChangeLog(changeLog.id)">
                        {{ changeLog.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}
                      </td>
                      <td (click)="selectChangeLog(changeLog.id)">
                        {{ changeLog.createdBy }}
                      </td>
                      <td (click)="selectChangeLog(changeLog.id)">
                        <template [ngIf]="changeLog.operationType == 'INIT'">
                          Initialisation
                        </template>
                        <template [ngIf]="changeLog.operationType == 'CREATE'">
                          Création
                        </template>
                        <template [ngIf]="changeLog.operationType == 'UPDATE'">
                          Modification
                        </template>
                        <template [ngIf]="changeLog.operationType == 'DELETE'">
                          Suppression
                        </template>
                      </td>
                      <td (click)="selectChangeLog(changeLog.id)">
                        <template [ngIf]="changeLog.fieldType == 'BASE'">
                          Base
                        </template>
                        <template [ngIf]="changeLog.fieldType == 'ATTRIBUTE'">
                          Attribut
                        </template>
                        <template [ngIf]="changeLog.fieldType == 'MULTILINGUAL_LABEL'">
                          Libellé
                        </template>
                        <template [ngIf]="changeLog.fieldType == 'ADDRESS'">
                          Adresse
                        </template>
                      </td>
                      <td (click)="selectChangeLog(changeLog.id)">
                        <template [ngIf]="changeLog.fieldName == 'SIGLE'">
                          Sigle
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'LABEL'">
                          Libellé
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'LABEL_SHORT'">
                          Abrégé
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'TYPE'">
                          Type
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'LANG'">
                          Langue
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'CF_NUMBER'">
                          Numéro de CF
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'CF'">
                          CF
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'POSITION'">
                          Numéro d'ordre
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'RESPONSIBLE_ID'">
                          Responsable
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'ROOM_ID'">
                          Bureau
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'PARENT_ID'">
                          Unité mère
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'VALID_FROM'">
                          Existe du
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'VALID_TO'">
                          Existe jusqu'au
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'SIGLE_ENG'">
                          Sigle anglais
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'LABEL_ENG'">
                          Libellé anglais
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'LABEL_SHORT_ENG'">
                          Abrégé anglais
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'SIGLE_DEU'">
                          Sigle allemand
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'LABEL_DEU'">
                          Libellé allemand
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'LABEL_SHORT_DEU'">
                          Abrégé allemand
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'SIGLE_ITA'">
                          Sigle italien
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'LABEL_ITA'">
                          Libellé italien
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'LABEL_SHORT_ITA'">
                          Abrégé italien
                        </template>
                        <template [ngIf]="changeLog.fieldType == 'ATTRIBUTE'">
                          <span *ngFor="let changeLogCurrentAttribute of (attributesList | attributefilter:changeLog.fieldName)">
                            {{ changeLogCurrentAttribute.label }}
                          </span>
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'ADDRESS_1'">
                          Adresse 1
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'ADDRESS_2'">
                          Adresse 2
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'ADDRESS_3'">
                          Adresse 3
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'ADDRESS_4'">
                          Adresse 4
                        </template>
                        <template [ngIf]="changeLog.fieldName == 'ADDRESS_5'">
                          Adresse 5
                        </template>
                      </td>
                      <td (click)="selectChangeLog(changeLog.id)">
                        {{ changeLog.fromValue }}
                      </td>
                      <td (click)="selectChangeLog(changeLog.id)">
                        {{ changeLog.toValue }}
                      </td>
                      <td *ngIf="changeLog.attachment != null && changeLog.attachment.filename != null" (click)="getAttachment(changeLog.attachment.id, changeLog.attachment.filename)" class="changelogattachment-cell" title="{{ changeLog.attachment.description }}">
                        {{ changeLog.attachment.filename }}
                      </td>
                      <td *ngIf="changeLog.attachment != null && changeLog.attachment.filename == null">
                        {{ changeLog.attachment.description }}
                      </td>
                      <td *ngIf="changeLog.attachment == null">
                        -
                      </td>
                    </tr>
                    </ng-container>
                  </tbody>
                </table>
              </form>
              <div style="text-align: right; margin-top: 10px;">
                <button type="button" id="btn-set-changeLogAttachment" class="btn btn-danger" (click)="undocumentSelectedChangeLogs()">Supprimer le document</button>
                <button type="button" id="btn-set-changeLogAttachment" class="btn btn-primary" (click)="documentSelectedChangeLogs()">Associer un document</button>
              </div>
            </tab>
          </tabset>
        </div>
        <div class="modal-footer">
          <div *ngIf="accumulatedChangeLogs.length > 0" class="accumulated-changes-box">
            {{ accumulatedChangeLogs.length }} changement(s) enregistré(s)
          </div>
          <img *ngIf="saveIsOngoing" src="/assets/img/spinner.gif" />&nbsp;&nbsp;
          <button type="button" id="btn-close-unit-update" class="btn btn-default" data-dismiss="modal" (click)="closeModal()" [disabled]="saveIsOngoing">Fermer</button>
          <button type="button" id="btn-delete-unit-planned" class="btn btn-danger" *ngIf="mode == 'EDIT_UNIT_PLANNED' && unitPlannedExists" data-dismiss="modal" (click)="deleteUnitPlanned()">Supprimer</button>
          <button type="button" id="btn-delete-unit-model" class="btn btn-danger" *ngIf="mode == 'EDIT_UNIT_MODEL' && unitModelExists" data-dismiss="modal" (click)="deleteUnitModel()">Supprimer le modèle</button>
          <button type="submit" id="btn-save-unit" class="btn btn-primary" *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" [disabled]="saveIsOngoing || !unitForm.valid">Enregistrer</button>
          <button type="submit" id="btn-save-unit-and-close" class="btn btn-primary" *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" [disabled]="saveIsOngoing || !unitForm.valid" (click)="setCloseFlag()">Enregistrer puis fermer</button>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal fade" bsModal #selectRoomModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="selectRoomModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-second">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Sélectionner le bureau</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="selectRoomModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="searchRoomShowResults && searchRoomResults.length > 0" class="search-result-box">
          <div *ngFor="let result of searchRoomResults">
            <span class="cursor-pointer" title="Sélectionner ce bureau" (click)="roomSelected(result)">{{ result.label }}</span>
          </div>
        </div>
        <div *ngIf="searchRoomShowResults && searchRoomResults.length == 0" class="search-result-box">
          Aucun résultat.
        </div>
        <div *ngIf="searchRoomErrorMessage != null" class="search-result-box-error">
          {{ searchRoomErrorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #selectResponsibleModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="selectResponsibleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-second">
    <div class="modal-content modal-content-second">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Sélectionner le responsable</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="selectResponsibleModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="searchReponsibleShowResults && searchReponsibleResults.length > 0" class="search-result-box">
          <div *ngFor="let resultPerson of searchReponsibleResults">
            <span class="cursor-pointer" title="Sélectionner cette personne" (click)="responsibleSelected(resultPerson)">{{ resultPerson.displaynameLong }} ({{ resultPerson.id }})</span>
            <a target="_blank" href="http://people.epfl.ch/{{ resultPerson.id }}">
              <span class="glyphicon glyphicon-new-window" style="font-size: 65%;" title="Ouvrir sur people"></span>
            </a>
          </div>
        </div>
        <div *ngIf="searchReponsibleShowResults && searchReponsibleResults.length == 0" class="search-result-box">
          Aucun résultat.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #selectCountryModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="selectCountryModalLabel" aria-hidden="true" id="modal-select-country">
  <div class="modal-dialog modal-second">
    <div class="modal-content modal-content-second">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Sélectionner le pays</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="selectCountryModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="searchCountryShowResults && searchCountryResults.length > 0" class="search-result-box">
          <div *ngFor="let resultCountry of searchCountryResults">
            <span class="cursor-pointer" title="Sélectionner ce pays" (click)="countrySelected(resultCountry)" id="btn-select-country-{{ resultCountry.codeISO }}">
              {{ resultCountry.zipcode }} {{ resultCountry.labelFrench }}
            </span>
          </div>
        </div>
        <div *ngIf="searchCountryShowResults && searchCountryResults.length == 0" class="search-result-box">
          Aucun résultat.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #selectLocationModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="selectLocationModalLabel" aria-hidden="true" id="modal-select-location">
  <div class="modal-dialog modal-second">
    <div class="modal-content modal-content-second">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Sélectionner la localité</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="selectLocationModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="searchLocationShowResults && searchLocationResults.length > 0" class="search-result-box">
          <div *ngFor="let resultLocation of searchLocationResults">
            <span class="cursor-pointer" title="Sélectionner cette localité" (click)="locationSelected(resultLocation)" id="btn-select-location-{{ resultLocation.zipcode }}">
              {{ resultLocation.zipcode }} {{ resultLocation.labelFrench }}
            </span>
          </div>
        </div>
        <div *ngIf="searchLocationShowResults && searchLocationResults.length == 0" class="search-result-box">
          Aucun résultat.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #alertsModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="alertsModalLabel" aria-hidden="true" id="modal-alerts">
  <div class="modal-dialog modal-second">
    <div class="modal-content modal-content-second">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Merci de vérifier les éléments suivants</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="alertsModal.hide()" id="btn-close-modal-alerts">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor="let alert of alerts" class="search-result-box-error">
          {{ alert }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #attributeModal="bs-modal"
  tabindex="-1" role="dialog" aria-labelledby="alertsModalLabel" aria-hidden="true" id="modal-attribute">
  <div class="modal-dialog modal-second">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Complément</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="attributeModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="selectedUnitAttribute != null">
          <form (ngSubmit)="createAttribute(attributeForm.value)" [formGroup]="attributeForm">
            <div class="form-group">
              <label for="select-attribute-type">Type</label>
              <select class="form-control" formControlName="code" id="select-attribute-type" (change)="onAttributeTypeChange($event.target.value)">
                <option *ngFor="let attributeType of attributesList" value="{{ attributeType.code }}">{{ attributeType.label }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="select-attribute-value">Valeur</label>
              <input *ngIf="attributeEnumsList.length == 0" type="text" class="form-control" id="attribute_text" placeholder="" formControlName="text" id="input-attribute-value" />
              <select *ngIf="attributeEnumsList?.length > 0" class="form-control"  formControlName="textSelect" id="select-attribute-value" (change)="onAttributeValueChange($event.target.value)">
                <option *ngFor="let attributeEnum of attributeEnumsList" value="{{ attributeEnum.value }}">
                  {{ attributeEnum.value }}<span *ngIf="attributeEnum.comment != null"> - {{ attributeEnum.comment }}</span>
                </option>
              </select>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="attribute_valid_from">Valide du...</label>
                  <input class="form-control" formControlName="from" maxlength="10" id="input-attribute-validFrom" date-input />
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="attribute_valid_from">...au</label>
                    <input class="form-control" formControlName="to" maxlength="10" id="input-attribute-validTo" date-input />
                  </div>
                </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hideAttributeFormPanel()">Annuler</button>
        <button type="button" class="btn btn-primary" (click)="saveAttribute()" [disabled]="!attributeForm.valid" id="btn-save-attribute">Valider</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #selectParentUnitModal="bs-modal"
  tabindex="-1" role="dialog" aria-labelledby="selectParentUnitModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-second">
    <div class="modal-content modal-content-second">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Sélectionner l'unité mère</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="selectParentUnitModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="searchParentUnitShowResults && searchParentUnitResults.length > 0" class="search-result-box">
            <table class="table table-striped">
            <thead>
              <tr>
                <th>Sigle</th>
                <th>CF</th>
                <th>Libellé</th>
                <th>Niveau</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of searchParentUnitResults" class="cursor-pointer" title="Sélectionner cette unité" (click)="parentUnitSelected(result)">
                <td>{{ result.sigle }}</td>
                <td>{{ result.cf }}</td>
                <td>{{ result.label }}</td>
                <td>{{ result.level }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="searchParentUnitShowResults && searchParentUnitResults.length == 0" class="search-result-box">
          Aucun résultat dans le sigle, le CF, le libellé, pour les <b>unités de niveau {{ selectedUnit.level - 1 }}</b>.
        </div>
      </div>
    </div>
  </div>
</div>

<app-changedoc #myChangeDocComponent
  (changeDocCreated)="changeDocCreated($event)"
  (messageTriggered)="messageTriggered($event)">
</app-changedoc>