.text-cell {
  margin-top: 7px;
}
.nav-link {
  outline:none;
}
.table-striped {
  margin-bottom: 0;
}
.modal-xlg {
  width: 1000px;
}
.form-error {
  color: #ff0000;
}
.form-error-sign {
  color: #ff0000;
  position: absolute;
  top: 9px;
  right: 25px;
}
.tree-form-container {
  clear: both;
  margin: 5px 0 10px;
  overflow: hidden;
}
.tree-form-container > div {
  padding-left: 0;
}
.create-root-container {
  clear: both;
}
.filter-box {
  display: inline-block;
  margin-right: 20px;
}
.state-date-calendar-container {
  margin-bottom: -20px;
}
.attribute-validity-period {
  font-size: 75%;
}
.attributes-panel {
  display: table;
  width: 100%;
}
.attributes-table-panel {
  display: table-cell;
}
.attribute-form-panel {
  display: table-cell;
  width: 300px;
  padding: 15px;
  border-left: 1px solid #e5e5e5;
}
.alerts-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 33%;
  padding: 10px;
  opacity: 0.99;
  margin: auto;
}
.table-unit-labels > tbody > tr > td:first-child, .table-unit-labels > thead > tr > th:first-child {
  text-align: center;
}
.create-root-unit {
  cursor: pointer;
}
label.mandatory {
  color: #ff0000;
}

/* form styles */
input.ng-invalid.ng-dirty {
  border: 2px red solid;
}


/* override primeNG styles */
.ui-autocomplete {
  width: 100%;
}
.ui-inputtext {
  width: 100%;
}



@media screen and (max-width: 1024px) {
  .modal-xlg {
    width: 96%;
  }
}

@media screen and (max-width: 420px) {
  .modal-calendar {
    width: 96%;
  }
}