<ul style="margin-top: 5px;">
  <li *ngFor="let unit of units" [ngClass]="{'invalid-unit': unit.isValid == 0, 'filtered-unit': treeFilter != '' && (unit.sigle.toUpperCase().indexOf(treeFilter.toUpperCase()) > -1 || unit.label.toUpperCase().indexOf(treeFilter.toUpperCase()) > -1 || (unit.cf != null && unit.cf.indexOf(treeFilter.toUpperCase()) > -1)) }" class="unit-row unit-row-{{ unit.sigle }}" id="unit-row-{{ unit.id }}">
    <div style="position: relative;">
      <div id="chevron-cell-{{ unit.id }}" class="chevron-cell" [ngClass]='{"tree-node-no-children": !unit.showIcon}' (click)="expandUnit(unit)">
        <span *ngIf="unit.childrenCount > 0" class="glyphicon {{ unit.icon }}" title="{{ unit.expanded ? 'Fermer':'Ouvrir'  }}"></span>
      </div>
      <div class="sigle-cell" (click)="expandUnit(unit)">
        {{ unit.sigle }}&nbsp;
        <a target="_blank" href="http://search.epfl.ch/browseunit.do?unit={{ unit.id }}">
          <span class="glyphicon glyphicon-new-window" style="font-size: 65%;" title="Ouvrir sur l'annuaire EPFL"></span>
        </a>
      </div>
      <div class="cf-cell">
        {{ unit.cf }}
      </div>
      <div id="label-cell-{{ unit.id }}" class="label-cell label-cell-{{ unit.sigle }}" (click)="selectUnit(unit)">
        {{ unit.label }}
      </div>
      <div class="actions-cell" *ngIf="authService.hasSuperAdminRole(loggedUserInfo)" style="position: absolute; right: 0;">
        <span *ngIf="unit.level < 4" class="glyphicon glyphicon-plus" title="Ajouter une unité rattachée" (click)="createChildUnit(unit)" id="create-child-unit-{{ unit.id }}"></span>
        <span *ngIf="unit.level < 4 && unit.hasUnitModel" class="glyphicon glyphicon-duplicate" title="Modifier le modèle" (click)="propagateCreateOrUpdateUnitModel(unit)" id="manage-model-unit-{{ unit.id }}"></span>
        <span *ngIf="unit.level < 4 && !unit.hasUnitModel" class="glyphicon glyphicon-duplicate" style="opacity: 0.33;" title="Créer un modèle" (click)="propagateCreateOrUpdateUnitModel(unit)" id="manage-model-unit-{{ unit.id }}"></span>
        <span *ngIf="unit.hasUnitPlanned" class="glyphicon glyphicon-time" title="Modifier les versions planifiées" (click)="propagateCreateOrUpdateUnitPlanned(unit)" id="manage-planned-unit-{{ unit.id }}"></span>
        <span *ngIf="!unit.hasUnitPlanned" class="glyphicon glyphicon-time" style="opacity: 0.33;" title="Créer une version planifiée" (click)="propagateCreateOrUpdateUnitPlanned(unit)" id="manage-planned-unit-{{ unit.id }}"></span>
        <span class="glyphicon glyphicon-copy" title="Cloner cette unité" (click)="cloneUnit(unit)" id="clone-unit-{{ unit.id }}"></span>
        <span class="glyphicon glyphicon-trash icon-delete-unit" title="Supprimer cette unité" (click)="propagateDeleteUnit(unit)" id="delete-unit-{{ unit.id }}"></span>
      </div>
      <div *ngIf="unit.expanded">
          <div class="tree-container">
              <app-tree-view [root]="unit"
                      [expandedUnits]="expandedUnits" 
                      [onlyPermanent]="onlyPermanent"
                      [onlyValid]="onlyValid"
                      [stateDate]="stateDate"
                      (unitSelected)="selectUnit($event)"
                      (unitToDelete)="propagateDeleteUnit($event)"
                      (unitToCreateChild)="createChildUnit($event)"
                      (unitToClone)="cloneUnit($event)"
                      (unitOpenedOrClosed)="propagateUnitOpenedOrClosed($event)"
                      (createOrUpdateUnitModelTriggered)="propagateCreateOrUpdateUnitModel($event)"
                      (createOrUpdateUnitPlannedTriggered)="propagateCreateOrUpdateUnitPlanned($event)"
                      (errorTriggered)="propagateError($event)"
                      >
                  </app-tree-view>
          </div>
      </div>
    </div>
  </li>
</ul>