<div class="alerts-bar">
  <alert *ngFor="let alert of alerts;let i = index" [type]="alert.type" dismissOnTimeout="3000" (close)="closeAlert(i)">
    {{ alert?.msg }}
  </alert>
</div>
<div class="form-inline tree-form-container">
    <div class="col-md-3 checkbox">
        <label>
            <input type="checkbox" [(ngModel)]="onlyPermanent" (ngModelChange)="filterHasChanged()" /> Seulement les enreg. permanents
        </label>
    </div>
    <div class="col-md-3 checkbox">
        <label>
            <input type="checkbox" [(ngModel)]="onlyValid" (ngModelChange)="filterHasChanged()" /> Seulement les unités valides
        </label>
    </div>
    <div class="col-md-2 checkbox">
        Etat au <span class="state-date" (click)="changeStateDateModal.show()">{{ stateDateDate | date:"dd.MM.yyyy" }}</span>
    </div>
    <div class="col-md-4" style="text-align: right; padding-right: 0;">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Sigle, label, CF..." [(ngModel)]="treeFilter" [ngModelOptions]="{standalone: true}">
            </div>
            <button type="submit" class="btn btn-default" (click)="filterTree()">Filtrer</button>
        </form>
    </div>
</div>
<div class="create-root-container" *ngIf="authService.hasSuperAdminRole(loggedUserInfo)">
  <span class="glyphicon glyphicon-plus create-root-unit" title="Ajouter une unité racine" (click)="createChildUnit()"></span>
</div>
<div class="tree-container" style="padding: 0;">
    <app-tree-view #rootTreeView [root]="root"
            [expandedUnits]="expandedUnits"
            [onlyPermanent]="onlyPermanent"
            [onlyValid]="onlyValid"
            [stateDate]="stateDate"
            (unitSelected)="selectUnit($event)"
            (unitToDelete)="deleteUnit($event)"
            (unitToCreateChild)="createChildUnit($event)"
            (unitToClone)="cloneUnit($event)"
            (unitOpenedOrClosed)="unitOpenedOrClosed($event)"
            (createOrUpdateUnitModelTriggered)="createOrUpdateUnitModel($event)"
            (createOrUpdateUnitPlannedTriggered)="listUnitPlanned($event)"
            (errorTriggered)="errorTriggered($event)"
            >
    </app-tree-view>
</div>

<app-updateunit #myUpdateUnitComponent
  (unitUpdated)="unitUpdated($event)"
  (unitPlannedDone)="unitPlannedDone($event)"
  (unitModelDone)="unitModelDone($event)"
  (messageTriggered)="messageTriggered($event)"
  (listUnitPlanned)="listUnitPlanned($event)">
</app-updateunit>

<app-deleteunit #myDeleteUnitComponent
  (unitDeleted)="unitDeleted($event)"
  (messageTriggered)="messageTriggered($event)">
</app-deleteunit>

<app-listunitplanned #myListUnitPlannedComponent
  (createUnitPlannedTriggered)="createUnitPlannedTriggered($event)"
  (updateUnitPlannedTriggered)="updateUnitPlannedTriggered($event)">
</app-listunitplanned>

<!--app-changedoc #myChangeDocComponent
  (changeDocCreated)="changeDocCreated($event)"
  (messageTriggered)="messageTriggered($event)">
</app-changedoc-->

<form (ngSubmit)="changeStateDate()" [formGroup]="stateDateForm">
  <div bsModal #changeStateDateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-calendar">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" (click)="changeStateDateModal.hide()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title">Date de référence pour l'affichage</h4>
              </div>
              <div class="modal-body">
                  <input class="form-control" formControlName="state_date" maxlength="10" date-input />
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" (click)="changeStateDateModal.hide()">Fermer</button>
                  <button type="submit" class="btn btn-primary" (click)="changeStateDate()">Valider</button>
              </div>
          </div>
      </div>
  </div>
</form>
