<form (ngSubmit)="saveUnitModel(unitModelForm.value)" [formGroup]="unitModelForm">
  <div bsModal #handleUnitModelModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal-update-unit" (onHide)="onHide()">
    <div class="modal-dialog modal-lg" *ngIf="showView">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="handleUnitModelModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Modèle pour <i>{{ fromUnit.sigle }} - {{ fromUnit.label }}</i></h4>
        </div>
        <div class="modal-body">
          <tabset>
            <tab heading="Données de base">
              <div class="form-horizontal" style="margin-top: 10px;">
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Libellé</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" formControlName="label" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Sigle</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="sigle" style="text-transform: uppercase;" sigle-input />
                  </div>
                  <label for="" class="col-sm-2 control-label">Abrégé</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="labelShort" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Type</label>
                  <div class="col-sm-4">
                    <select class="form-control" formControlName="type">
                      <option *ngFor="let unitType of unitTypesList" value="{{ unitType.code }}">{{ unitType.label }}</option>
                    </select>
                  </div>
                  <label for="" class="col-sm-2 control-label">Langue</label>
                  <div class="col-sm-4">
                    <select class="form-control" formControlName="lang">
                      <option *ngFor="let lang of languagesList" value="{{ lang.code }}">{{ lang.label }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Numéro</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="cfNumber" />
                  </div>
                  <label for="" class="col-sm-2 control-label">CF</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="cf" (keyup)="setCfNumber()" number-input />
                  </div>
                </div>
                <div class="form-group" style="position: relative;">
                  <label for="" class="col-sm-2 control-label">Existe du</label>
                  <div class="col-sm-4">
                    <input class="form-control" formControlName="from" />
                  </div>
                  <label for="" class="col-sm-2 control-label">au</label>
                  <div class="col-sm-4">
                    <input class="form-control" formControlName="to" />
                  </div>
                  <div style="position: absolute; top: 8px; right: 108px;">
                    <span class="glyphicon glyphicon-remove icon-red cursor-pointer" title="Supprimer" (click)="clearValidTo()"></span>   
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Responsable</label>
                  <div class="col-sm-10" style="position: relative;">
                    <p-autoComplete id="update-unit-responsible" inputStyleClass="form-control" delay="250" formControlName="responsible" [suggestions]="resultsPerson" (completeMethod)="searchPerson($event)" (onSelect)="personSelected($event)" field="displayname"></p-autoComplete>
                    <div style="position: absolute; top: 8px; right: 23px;">
                      <span class="glyphicon glyphicon-remove icon-red cursor-pointer" title="Supprimer le responsable" (click)="clearResponsible()"></span>   
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Bureau</label>
                  <div class="col-sm-10" style="position: relative;">
                    <p-autoComplete id="update-unit-room" inputStyleClass="form-control" delay="250" formControlName="room" [suggestions]="resultsRoom" (completeMethod)="searchRoom($event)" (onSelect)="roomSelected($event)" field="label"></p-autoComplete>
                    <div style="position: absolute; top: 8px; right: 23px;">
                      <span class="glyphicon glyphicon-remove icon-red cursor-pointer" title="Supprimer le local" (click)="clearRoom()"></span>   
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">N° ordre</label>
                  <div class="col-sm-2">
                    <input type="text" class="form-control" formControlName="position" number-input />
                    <p class="form-text">
                        
                    </p>
                  </div>
                  <label for="" class="col-sm-2 control-label">Dans EPFL</label>
                  <div class="col-sm-2 text-cell">
                    <span *ngIf="selectedUnitModel.is_epfl == 1" class="glyphicon glyphicon-ok icon-green"></span>
                    <span *ngIf="selectedUnitModel.is_epfl == 0" class="glyphicon glyphicon-remove icon-red"></span>
                  </div>
                  <label for="" class="col-sm-2 control-label">Temporaire</label>
                  <div class="col-sm-2 text-cell">
                    <input type="checkbox" formControlName="isTemporary">
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Libellés multilingues">
              <table class="table table-striped table-unit-labels">
                <thead>
                  <tr>
                    <th style="width: 80px;">Langue</th>
                    <th>Libellé</th>
                    <th>Abrégé</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><img src="assets/img/flag_FRA.png" style="width: 40px;" alt="Français" title="Français" /></td>
                    <td>{{ unitModelForm.get('label').value }}</td>
                    <td>{{ unitModelForm.get('labelShort').value }}</td>
                  </tr>
                  <tr>
                    <td><img src="assets/img/flag_ENG.png" style="width: 40px;" alt="Anglais" title="Anglais" /></td>
                    <td>
                      <input type="text" class="form-control" formControlName="labelEn" />
                    </td>
                    <td>
                      <input type="text" class="form-control" formControlName="labelShortEn" />
                    </td>
                  </tr>
                  <tr>
                    <td><img src="assets/img/flag_GER.png" style="width: 40px;" alt="Allemand" title="Allemand" /></td>
                    <td>
                      <input type="text" class="form-control" formControlName="labelGe" />
                    </td>
                    <td>
                      <input type="text" class="form-control" formControlName="labelShortGe" />
                    </td>
                  </tr>
                  <tr>
                    <td><img src="assets/img/flag_ITA.png" style="width: 40px;" alt="Italien" title="Italien" /></td>
                    <td>
                      <input type="text" class="form-control" formControlName="labelIt" />
                    </td>
                    <td>
                      <input type="text" class="form-control" formControlName="labelShortIt" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </tab>
            <tab heading="Compléments">
              <div class="attributes-panel">
                <div class="attributes-table-panel">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Libellé</th>
                        <th>Valeur</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let attributeType of attributesList">
                        <td>
                          {{ attributeType.label }}
                        </td>
                        <td style="text-align: left;">
                          <div *ngFor="let attributeValue of (selectedUnitModel.attributes | attributefilter:attributeType.code)">
                            <span *ngIf="attributeValue.url == null">
                              {{ attributeValue.text }}
                            </span>
                            <span *ngIf="attributeValue.url != null">
                              <a href="{{ attributeValue.url }}" target="_blank">{{ attributeValue.text }}</a>
                            </span>
                            &nbsp;<span class="glyphicon glyphicon-pencil cursor-pointer" title="Modifier" (click)="showAttributeFormPanel('update', attributeValue, null)"></span>
                            <span class="glyphicon glyphicon-remove icon-red cursor-pointer" title="Supprimer" (click)="deleteAttribute(attributeValue)"></span>
                            <div class="attribute-validity-period">
                              ({{ attributeValue.from | date:"dd.MM.yyyy" }} - {{ attributeValue.to | date:"dd.MM.yyyy" }})
                            </div>
                          </div>
                        </td>
                        <td style="text-align: right;">
                          <span class="glyphicon glyphicon-plus icon-green cursor-pointer" title="Créer" (click)="showAttributeFormPanel('add', null, attributeType)"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="attribute-form-panel" *ngIf="selectedUnitModelAttribute != null">
                  <form (ngSubmit)="createAttribute(attributeForm.value)" [formGroup]="attributeModelForm">
                    <div class="form-group">
                      <label for="attribute_code">Type *</label>
                      <select class="form-control" formControlName="code" id="attribute_code">
                        <option *ngFor="let attributeType of attributesList" value="{{ attributeType.code }}">{{ attributeType.label }}</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="attribute_text">Texte</label>
                      <input type="text" class="form-control" id="attribute_text" placeholder="" formControlName="text" />
                    </div>
                    <div class="form-group">
                      <label for="attribute_url">URL (document externe)</label>
                      <input type="text" class="form-control" id="attribute_url" placeholder="" formControlName="url" />
                    </div>
                    <div class="form-group">
                      <label for="attribute_valid_from">Valide du...*</label>
                      <br />
                      <input class="form-control" formControlName="from" />
                    </div>
                    <div class="form-group" style="position: relative;">
                      <label for="attribute_valid_from">...au</label>
                      <br />
                      <input class="form-control" formControlName="to" />
                      <div style="position: absolute; top: 33px; right: 93px;">
                        <span class="glyphicon glyphicon-remove icon-red cursor-pointer" title="Supprimer la date de fin" (click)="clearAttributeToDate()"></span>   
                      </div>
                    </div>
                    <div style="text-align: right;">
                      <button type="button" class="btn btn-default" (click)="hideAttributeFormPanel()">Annuler</button>
                      <button type="button" class="btn btn-primary" (click)="saveAttribute()" [disabled]="!attributeModelForm.valid">Valider</button>
                    </div>
                  </form>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
        <div class="modal-footer">
          <button type="button" id="btn-close-unit-update" class="btn btn-default" data-dismiss="modal" (click)="handleUnitModelModal.hide()">Annuler</button>
          <button type="button" id="btn-close-unit-update" class="btn btn-danger" *ngIf="unitModelExists" data-dismiss="modal" (click)="deleteUnitModel()">Supprimer</button>
          <button type="submit" id="btn-submit-unit-update" class="btn btn-primary" [disabled]="!unitModelForm.valid">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
</form>
